{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <form action="{{ path('app_login') }}" method="post">
            <h1>Connexion</h1>
            <div>
                <label for="email">Email :</label>
                <input type="text" name="_username" id="email" value="{{ last_username }}">
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" name="_password" id="password">
            </div>
            <button type="submit">Se connecter</button>
        </form>
    </div>
{% endblock %}
