{% extends 'base.html.twig' %}

{% block title %}Freelancer Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to Your Freelancer Space</h1>
    <div>
        <h2>Available Projects</h2>
        <ul>
            <li><a href="/freelancer/projects">Browse Projects</a></li>
            <li><a href="/freelancer/applications">View Your Applications</a></li>
            <li><a href="/freelancer/profile">Update Your Profile</a></li>
        </ul>
    </div>
{% endblock %}
