{% extends 'base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <h1>Welcome to the Admin Dashboard</h1>
    <ul>
        <li><a href="{{ path('admin_users') }}">Manage Users</a></li>
        <li><a href="{{ path('admin_projects') }}">Manage Projects</a></li>
        <li><a href="{{ path('admin_reports') }}">View Reports</a></li>
    </ul>
{% endblock %}
